In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Salary_dataset.csv')
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [17]:
x_train = df.drop('Salary' , axis=1)
y_train = df['Salary']
x_train = x_train.drop('Unnamed: 0' , axis=1)
x_train = x_train.to_numpy()
y_train = y_train.to_numpy()

In [5]:
def cost(x,y,w,b):
    m = x.shape[0]
    cost = 0
    for i in range (m):
        f_wb = w*x[i] + b
        cost = cost + f_wb
        
    total_cost = (1/(2*m))*f_wb
    return total_cost

In [6]:
def gradient(x,y,w,b):
    m=x.shape[0]
    dj_dw = 0
    dj_db = 0
    
    for i in range(m):
        f_wb = w*x[i] + b
        dj_dw_i = (f_wb - y[i])*x[i]
        dj_db_i = f_wb - y[i]
        dj_dw += dj_dw_i
        dj_db += dj_db_i
    dj_dw = (1/m)*dj_dw
    dj_db = (1/m)*dj_db
    
    return dj_dw , dj_db

In [18]:
def grad_desc(x,y,w_in,b_in,alpha,iterations,gradient):
    
    w=w_in
    b=b_in
    
    for i in range(iterations):
        dj_dw , dj_db = gradient(x,y,w,b)
        
        w = w - alpha*dj_dw
        b = b - alpha*dj_db
        
    return w , b

In [27]:
w_in = 0
b_in = 0

iterations = 10000
alpha = 1.0e-2

w_final , b_final = grad_desc(x_train , y_train , w_in , b_in , alpha , iterations , gradient)
print(w_final)
print(b_final)

[9449.96232538]
[24848.20393979]

In [23]:
yearsOfExperience = float(input('Enter your Years of Experience : '))

salary = 9449.962325379338*yearsOfExperience + 24848.203939785166

print(salary)

Enter your Years of Experience : 100
969844.4364777189